* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(49, 61, 194, 1) 0%, rgba(73, 145, 221, 1) 59%, rgba(0, 151, 255, 1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "info info info info info" "box1 box2 box3 box4 box5";
    gap: 14px;
    align-items: stretch;
    justify-content: center;
}

.info {
    grid-area: info;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.tmp {
    background: rgb(170, 173, 187);
    background: linear-gradient(90deg, rgba(170, 173, 187, 1) 2%, rgba(215, 240, 244, 1) 55%, rgba(152, 154, 159, 1) 100%);
    box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.54);
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
}

.wrapper,
.info,
footer,
header {
    border-radius: 5px;
    margin: 12px 12px 30px;
    -webkit-box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.54);
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    background: rgb(228, 229, 246);
    background: linear-gradient(90deg, rgba(228, 229, 246, 1) 0%, rgba(159, 164, 170, 1) 56%, rgba(108, 125, 136, 1) 100%);
}

footer {
    padding: 14px;
}

.wrapper:hover,
.results p:hover {
    background: rgb(165,214,246);
    background: linear-gradient(90deg, rgba(165,214,246,1) 2%, rgba(154,240,254,1) 55%, rgba(82,162,241,1) 100%);
}

.wrapper img {
    width: 100%;
    height: 220px;
}

header {
    padding: 14px;
}

main p {
    padding: 3px;
}

#search-btn,
#search_bar {
    border-radius: 5px;
    border: none;
    padding: 14px;
}

#search_bar {
    width: 20%;
}

#search-btn:hover {
    cursor: pointer;
    background-color: lightgray;
}

#search-btn {
    width: 5%;
}

.results {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin: 14px;
}

.results p {
    background: rgb(228, 229, 246);
    background: linear-gradient(90deg, rgba(228, 229, 246, 1) 0%, rgba(159, 164, 170, 1) 56%, rgba(108, 125, 136, 1) 100%);
    -webkit-box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.54);
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.results img {
    width: 65px;
    height: 65px;
    position: relative;
    top: 25px;
}
