<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>iTunes-Clone assignment</title>
</head>

<body>
    <header>
        <form method="GET" action="/results" enctype="multipart/form-data">
            <label for="search_bar">Search track:</label>
            <input type="text" id="search_bar" name="search" >
            <button type="submit" id="search-btn">Submit</button>
        </form>
    </header>
    <main>

        <div class="tmp">
            <div class="info">
                <p>Five random artists:</p>
            </div>
            <section class="box artist">
                <div class="wrapper" th:each="artist: ${artists}">
                    <img src="https://user-images.githubusercontent.com/79804094/154992252-1c9ed827-5b40-48fc-b36e-c0810dc2b4da.png" alt="No Image" />
                    <p >Artist name: </p>
                    <p th:text="${artist.getName()}"></p>
                </div>
            </section>
        </div>

        <div class="tmp">
            <div class="info">
                <p>Five random tracks:</p>
            </div>
            <section class="box song">

                <div class="wrapper" th:each="track: ${tracks}">
                    <img src="https://user-images.githubusercontent.com/79804094/154992400-7df8e802-b3fe-4181-9add-423a3e1f153e.png" alt="" />
                    <p>Track name:</p>
                    <p th:text="${track.getName()}"></p>
                </div>

            </section>
        </div>

        <div class="tmp">
            <div class="info">
                <p>Five random genres:</p>
            </div>
            <section class="box genre">

                <div class="wrapper" th:each="genre: ${genres}">
                    <img src="https://user-images.githubusercontent.com/79804094/154992494-56a0fbe9-3f1a-4c6e-9541-6358e4925a78.png" alt="" />
                    <p>Genre:</p>
                    <p th:text="${genre.getGenre()}"></p>
                </div>

            </section>
        </div>

    </main>
    <footer>
        <p> &copy; Petar Dimitrov & Philip Loibl</p>
    </footer>
</body>

</html>