<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>iTunes-Clone assignment</title>
</head>

<body>
    <header>
        <p>
            Results:
        </p>
    </header>
    <div class="tmp" th:if="${tracks.size() > 0}">
        <section class="results"  th:each="track: ${tracks}">
            <img src="https://user-images.githubusercontent.com/79804094/154991958-78c7003a-6500-4f01-ba86-94e8a4dd579c.png" />

            <p th:text="${track.getName()}"></p>

            <p th:text="${track.getArtist()}"></p>

            <p th:text="${track.getAlbum()}"></p>

            <p th:text="${track.getGenre()}"></p>
        </section>
    </div>

    <div class="tmp" th:if="${tracks.size() == 0}">
        <section class="results" >
            <img src="https://user-images.githubusercontent.com/79804094/154991958-78c7003a-6500-4f01-ba86-94e8a4dd579c.png" />
            <p> No results found</p>
        </section>
    </div>

    <footer>
        <p> &copy; Petar Dimitrov & Philip Loibl</p>
    </footer>
</body>

</html>